.counter {
}

.counter__number {
  display: inline-block;
  font-size: 2em;
  padding: 0.2em 1em;
  margin: 0.2em;
  background: #ccc;
  border-radius: 0.5em;
  font-family: Arial, serif;
  font-weight: bold;
  color: #666;
}
